# Configurações do Banco de Dados (PostgreSQL)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_NAME=miniapps
DB_PORT=5432

# Configurações da API Protheus ERP
PROTHEUS_API_URL=http://protheus:8084/rest
PROTHEUS_API_USER=seu_usuario_api
PROTHEUS_API_PASSWORD=sua_senha_api
PROTHEUS_ENDPOINT_CEP_LOAD=http://protheus:8084/rest/api/cep/load
PROTHEUS_ENDPOINT_CEP_REGISTER=http://protheus:8084/rest/api/cep/register
PROTHEUS_ENDPOINT_CEP_RECURSOS=http://protheus:8084/restdev/recurso

# Segurança e Servidor
JWT_SECRET=uma_chave_secreta_longa_e_segura
PORT=3000

# Automação Portal RH (Playwright)
# CONECTA AO KAIROS > ACESSAR MARCAÇÕES > GRAVA NO BANCO POSTGRES SOMENTE MARCAÇÕES DA DATA ATUAL
RH_PORTAL_URL=https://portal-exemplo.com.br
RH_PORTAL_USER=seu_usuario
RH_PORTAL_PASSWORD=sua_senha
